.artist-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Section de arriba con color como login/registro */
.dashboard-header {
  background-color: #ffffff;
  color: rgb(26, 26, 26);
  padding: 30px;
  text-align: center;
}

.dashboard-header .btn-add-song {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #2980b9;
  color: white;
  transition: background 0.3s ease;
}

.dashboard-header .btn-add-song:hover {
  background-color: #1f6391;
}

/* Cuerpo blanco */
.dashboard-body {
  display: flex;
  background-color: white;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

/* Panel izquierdo y derecho */
.left-panel {
  flex: 1;
}

.right-panel {
  flex: 1;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}
